.main-section{
  margin:0 auto;
  margin-top:10%;
}

.container{
 font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 1000px;
  margin: 20px auto;
  background: #ffffff;
  border-radius: 10px;
}

.card-body{
 
  box-shadow: 0px 0px 3px #ffffff;
  margin: 20px 10px;
  padding: 10px;
}


.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size:14px;
  min-width: 950px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color: #044146;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.content-table tbody tr.active-row {
  
  color: #111111;
}

tr:nth-child(even){
	background-color: #ddd;
}

tr:hover td{
	background-color: #369681;
	color: white;
}
