<div class="card">
    <div class="card-header">
        <h1>Editar Pacientes</h1>
    </div>
    <div class="card-body">
        <form [formGroup]="formularioDePacientes" (ngSubmit)="enviarDatos()" >
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <label for="" class="form-label">Nombre</label>
                    <input type="text" class="form-control" formControlName="nombre" name="" id="" aria-describedby="helpId" placeholder="Ingresa el Nombre">
                    <span class="text-danger" *ngIf="formularioDePacientes.controls.nombre.errors?.required"><br>Campo requerido nombre</span>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <label for="" class="form-label">Email</label>
                    <input type="email" class="form-control"  formControlName="email"  name="" id="" aria-describedby="helpId" placeholder="Ingresa el correo">
                    <span class="text-danger" *ngIf="formularioDePacientes.controls.email.errors?.required"><br>Campo requerido email</span>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <label for="" class="form-label">Ciudad</label>
                    <input type="email" class="form-control"  formControlName="ciudad"  name="" id="" aria-describedby="helpId" placeholder="Ingresa el ciudad">
                    <span class="text-danger" *ngIf="formularioDePacientes.controls.ciudad.errors?.required"><br>Campo requerido ciudad</span>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <label for="" class="form-label">Telefono</label>
                    <input type="number" class="form-control"  formControlName="telefono"  name="" id="" aria-describedby="helpId" placeholder="Ingresa el telefono">
                    <span class="text-danger" *ngIf="formularioDePacientes.controls.telefono.errors?.required"><br>Campo requerido telefono</span>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <label for="" class="form-label">Cedula</label>
                    <input type="number" class="form-control"  formControlName="cedula"  name="" id="" aria-describedby="helpId" placeholder="Ingresa el cedula">
                    <span class="text-danger" *ngIf="formularioDePacientes.controls.cedula.errors?.required"><br>Campo requerido cedula</span>
                </div>
                </div>
              <br>

              <div class="btn-group" role="group" aria-label=""> 
                <button type="submit" class="btn btn-success" [disabled]="!formularioDePacientes.valid"> Modificar</button>
                <button type="button" routerLink="/listar-pacientes" class="btn btn-primary"> Cancelar</button>
            </div>
        </form>
    </div>
    
</div>
